@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
}

.fontRancho {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}
