@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --color-primary: #331a15;
  --color-secondary: #e3b577;
  --color-accent: rgba(244, 243, 240, 1);
}

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
  }
}

.fontRancho {
  font-family: "Rancho", cursive;
  font-weight: 100 600;
  font-style: normal;
}

.text-shadow {
  text-shadow: 0 0px 6px #331a15;
}
